.chat-box{
	border: 2px black solid;
	margin: 50px 350px;
	content: “ ”;
 	background: inherit; 
	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
}

.chat-frame{ margin: 50px 50px;	}

.instructions{
	border: 1px solid yellow;
	float: left;
	margin: 0px 0px;
	position: absolute;
	width: 25%;
	background: inherit; 
	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
}

#connect, #send, #listen, #close-chat{
	float: right;
	margin-right: 3%;
	font-size: 60px;
}

#listen{ visibility: hidden; }

#patron{
	margin-left: 3%;
	margin-bottom: 2%;
	border: 2px black solid;
}

#patron-r{ border: 2px black solid; }

#card-no{
	margin-left: 12.5%;
	border: 2px black solid;
}

h1, h3{ text-align: center; }

textarea{
	border: 2px black solid;
	color: blue;
}


html{
	background-image: url(http://bit.ly/2gPLxZ4);
	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

